<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <a href="/home"><img src="/images/logo-mercado-liebre.svg"></a></img>
        <input type="text" id="name" value= "Buscar productos, marcas" ><i class="fas fa-search"></i>
         <p><i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjeta de credito</p>
        <nav>
            <ul>
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayudar</a></li>
            </ul>

            <ul>
                <li><a href="/register">Crear tu cuenta</a><i class="far fa-address-card"></i></li>
                <li><a href="/login">Ingresar</a><i class="fas fa-sign-out-alt"></i></li>
                <li>Mis compras<i class="fas fa-shopping-basket"></i></li>
            </ul>

        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <form action="/" method="GET">
        <label for="usuario">Usuario</label>
        <br>
        <input type="text" name="usuario">
        <br>
        <label for="password">Clave</label>
        <br>
        <input type="password" name="clave">
        <br>
        <button type="submit">Enviar</button>
    </form>
</body>
</html>